<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Amazon Test Automation Suite">

  <listeners>
    <listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
  </listeners>


	<test name="Different features of Amazon">
	<classes>
		<class name = "com.amazon.qa.testcases.LoginPageTest" />
		<class name = "com.amazon.qa.testcases.HomePageTest" />
		<class name = "com.amazon.qa.testcases.OrdersPageTest" />
		
	</classes>
	
	</test>
	
	</suite>
	